:root {
    --background-color: #181818;
    --secondary-background-color: #000;
    --primary-color: #36F014;
    --secondary-color: #0096FF;
    --tertiary-color: #EC7A2E;
    --font-color: whitesmoke;

    background: var(--background-color);
}
