:root {
    --background-color: #181818;
    --secondary-background-color: #000;
    --primary-color: #36F014;
    --secondary-color: #0096FF;
    --tertiary-color: #EC7A2E;
    --yin-color: white;
    --yang-color: #000;

    background: var(--background-color);
}

body {
    background-image: url(../assets/bg.avif);
    background-size: cover;
    background-position: center center;
    min-height: 100dvh;
    min-width: 100%;
    display: flex;
    margin: 0px;
}