:root {
    --background-color: #181818;
    --secondary-background-color: #000;
    --primary-color: #A255C9;
    --secondary-color: #5533DC;
    --tertiary-color: #F7F1F8;
    --font-color: whitesmoke;
    --yin-color: white;
    --yang-color: #000;

    --background: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url(../assets/electro.avif);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    margin: 0px;
}