@import url(dark.css);

* {
    font-family: "Comfortaa";
}

body {
    background-image: url(../assets/bg.avif);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #d5cfcf
}

a:hover {
    color: var(--secondary-color)
}

.title_card {
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 3%;

    display: flex;

    border-radius: 100px;
    border-color: var(--secondary-color);
    border-width: 2px;
    margin: auto;
    border-style: solid;
}


.title_left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title_left .name {
    color: var(--primary-color);
    font-size: xx-large
}


.title_left .desc {
    margin-left: 0;
    margin-bottom: 50px;
    color: var(--font-color);
    size: 10%;
    text-align: justify;
    max-width: 50%;
    font-family: "Courier Prime";
}

.title_left .contact {
    display: flex;
    margin-left: 0;
    justify-content: space-between;
    margin-bottom: 50px;
    color: var(--font-color);
    max-width: 50%
}

.title_left .section {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 50%;
    margin-bottom: 50px;
    color: var(--font-color);
}

.title_left .bullets {
    background-color: var(--tertiary-color);
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #000
}

.title_right {
    font-size: large;
    flex: 1;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
}

.title_right img {
    margin-right: 0%;
    width: 50%;
    border-radius: 100%;
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
}

.popup {
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;

    border-radius: 20px;
    background-color: rgba(0, 150, 255, 0.5);

}

.popup .title {
    padding: 50px;
    color: var(--font-color);
    font-size: xx-large;
    font-family: 'Courier Prime'
}

.popup .title .desc {
    padding-left: 50px;
    margin-left: 0;
    margin-bottom: 50;
    color: var(--font-color);
    size: 10%;
    text-align: justify;
    max-width: 50%;
    font-size: large;
    font-family: 'Courier Prime'
}

.popup img {
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 800px) {

    .title_card {
        border-radius: 30px;
        height: 95%;
        width: 90%;
        flex-direction: column-reverse;
    }

    .title_left {
        width: 100%;
    }

    .title_left .name {
        font-size: 100%;
    }


    .title_left .contact {
        max-width: 100%;
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
    }

    .title_left .desc {
        max-width: 100%;
    }

    .title_right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title_right img {
        margin: auto;
        max-width: 50%;
    }
}