:root {
    --background-color: #181818;
    --secondary-background-color: #000;
    --primary-color: #A6F44E;
    --secondary-color: #E5F5D7;
    --tertiary-color: #6AC083;
    --font-color: whitesmoke;
    --yin-color: white;
    --yang-color: #000;

    --background: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url(../assets/life.avif);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    margin: 0px;
}